
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #CEF2D7;
    color: #012626;
}
.title01{
    color: #04BF7B;
}
.p1{
    padding: 5% 15%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 82px;
}
.p1__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.p1__titulo{
    font-size: 2.25rem;
    font-family: 'Protest Riot', sans-serif;
}
.p1__parag{
    font-size: 1.5rem;
    font-family: 'Gowun Batang', serif;    
}
.imagem{
    width: 38%;
}
.p1__links{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.p1__links__nav{
    background-color:#04BF7B;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 21px 0;
    text-decoration: none;
    color: #012626;
    font-family: 'Protest Riot', sans-serif;
    font-size: 1.75rem;
    border: 2px solid #012626;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.p1__links__nav:hover{
    background-color: white;
    border-color: #04BF7B;
}
.p1__links__subtitulo{
    font-size: 2rem;
    font-family: 'Protest Riot', sans-serif;
}
.rodape{
 background-color: #04BF7B;
 color: #012626;
 font-family: 'Gowun Batang', serif;
 font-size: 1.25rem; 
 padding: 10px;
 display: flex;
 justify-content: center;
    
}
.cabeca{
background-color: #04BF7B;
 color: #012626;
 font-family: 'Gowun Batang', serif;
 font-size: 1.25rem; 
 padding: 5px;
 display: flex;
 justify-content: left;
 gap: 16px;
}
.cabeca__menu{
    margin-left: 20px;


}
.cabeca__menu__link{
    text-decoration: none;
    margin-left: 100px;
    color: #012626;
    font-family: 'Gowun Batang', serif;
    font-size: 1.25rem; 
}
.cabeca__menu__link:hover{
    background-color: #012626;
    color: #04BF7B;
    border: 2px solid #CEF2D7;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 890px) {
    .cabeca{
        padding: 6%;
        justify-content: center;
    }
    .p1 {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .p1__conteudo{
        width: auto;
    }
    
    
}